<?xml version="1.0" encoding="utf-8"?>
<InstallSettings>
  <ConfigSets>
    <ConfigSet>sitecore_analytics_index</ConfigSet> 
    <ConfigSet>sitecore_core_index</ConfigSet> 
    <ConfigSet>sitecore_master_index</ConfigSet> 
    <ConfigSet>sitecore_web_index</ConfigSet> 
    <ConfigSet>sitecore_marketing_asset_index_master</ConfigSet> 
    <ConfigSet>sitecore_marketing_asset_index_web</ConfigSet> 
    <ConfigSet>sitecore_testing_index</ConfigSet> 
    <ConfigSet>sitecore_suggested_test_index</ConfigSet> 
    <ConfigSet>sitecore_fxm_master_index</ConfigSet> 
    <ConfigSet>sitecore_fxm_web_index</ConfigSet> 
    <ConfigSet>sitecore_list_index</ConfigSet> 
    <ConfigSet>social_messages_master</ConfigSet> 
    <ConfigSet>social_messages_web</ConfigSet>

    <ConfigSet>sage_af</ConfigSet> 
    <ConfigSet>sage_asia</ConfigSet> 
    <ConfigSet>sage_at</ConfigSet> 
    <ConfigSet>sage_au</ConfigSet> 
    <ConfigSet>sage_be</ConfigSet> 
    <ConfigSet>sage_br</ConfigSet> 
    <ConfigSet>sage_ch</ConfigSet> 
    <ConfigSet>sage_cn</ConfigSet> 
    <ConfigSet>sage_com</ConfigSet> 
    <ConfigSet>sage_crm</ConfigSet> 
    <ConfigSet>sage_de</ConfigSet> 
    <ConfigSet>sage_erpx3</ConfigSet> 
    <ConfigSet>sage_es</ConfigSet> 
    <ConfigSet>sage_fr</ConfigSet>
    <ConfigSet>sage_ie</ConfigSet> 
    <ConfigSet>sage_ma</ConfigSet> 
    <ConfigSet>sage_me</ConfigSet> 
    <ConfigSet>sage_my</ConfigSet> 
    <ConfigSet>sage_pl</ConfigSet> 
    <ConfigSet>sage_pt</ConfigSet> 
    <ConfigSet>sage_uk</ConfigSet> 
    <ConfigSet>sage_za</ConfigSet>  
  </ConfigSets>

  <MasterSettings enabled="true">
    <ServiceName>SolrImagineMaster</ServiceName>
    <ServiceDisplayName>Solr6 Unity Master Service</ServiceDisplayName>
    <ServicePort>8983</ServicePort>
    <SolrPath>d:\SolrImagine</SolrPath>
    <SolrHomeSuffix>Imagine</SolrHomeSuffix>
  </MasterSettings>
  
  <SlaveSettings enabled="false">
    <ServiceName>SolrImagineSlave</ServiceName>
    <ServiceDisplayName>Solr6 Unity Slave Service</ServiceDisplayName>
    <ServicePort>898</ServicePort>
    <SolrPath>d:\SolrImagine</SolrPath>
    <SolrHomeSuffix>Imagine</SolrHomeSuffix>
    
    <SolrMasterHostname>localhost</SolrMasterHostname>
    <SolrMasterHostPort>8983</SolrMasterHostPort>
  </SlaveSettings>
</InstallSettings>


