<?xml version="1.0" encoding="utf-8"?>
<InstallSettings>
  <ConfigSets>
    <ConfigSet>sitecore_analytics_index</ConfigSet> 
    <ConfigSet>sitecore_core_index</ConfigSet> 
    <ConfigSet>sitecore_master_index</ConfigSet> 
    <ConfigSet>sitecore_web_index</ConfigSet> 
    <ConfigSet>sitecore_marketing_asset_index_master</ConfigSet> 
    <ConfigSet>sitecore_marketing_asset_index_web</ConfigSet> 
    <ConfigSet>sitecore_marketing_index_master</ConfigSet> 
    <ConfigSet>sitecore_marketing_index_web</ConfigSet> 
    <ConfigSet>sitecore_testing_index</ConfigSet> 
    <ConfigSet>sitecore_suggested_test_index</ConfigSet> 
    <ConfigSet>sitecore_fxm_master_index</ConfigSet> 
    <ConfigSet>sitecore_fxm_web_index</ConfigSet> 
    <ConfigSet>sitecore_list_index</ConfigSet> 
    <ConfigSet>social_messages_master</ConfigSet> 
    <ConfigSet>social_messages_web</ConfigSet>

    <ConfigSet>commerce_products_master_index</ConfigSet>
    <ConfigSet>commerce_products_web_index</ConfigSet>
  </ConfigSets>

  <MasterSettings enabled="true">
    <ServiceName>SolrImagineMaster</ServiceName>
    <ServiceDisplayName>Solr6 Imagine Master Service</ServiceDisplayName>
    <ServicePort>8983</ServicePort>
    <SolrPath>c:\SolrImagine</SolrPath>
    <SolrHomeSuffix>Imagine</SolrHomeSuffix>
  </MasterSettings>
  
  <SlaveSettings enabled="false">
    <ServiceName>SolrImagineSlave</ServiceName>
    <ServiceDisplayName>Solr6 Imagine Slave Service</ServiceDisplayName>
    <ServicePort>898</ServicePort>
    <SolrPath>c:\SolrImagine</SolrPath>
    <SolrHomeSuffix>Imagine</SolrHomeSuffix>
    
    <SolrMasterHostname>localhost</SolrMasterHostname>
    <SolrMasterHostPort>8983</SolrMasterHostPort>
  </SlaveSettings>
</InstallSettings>


